.timeLapseContainer{
    padding: 20px;
}

p {
    margin: 0 !important;
}

.pathBlack {
    font-weight: bold;
}

@media (max-width: 992px) {

    .timeLapseContainer{
        padding: 5px;
        font-size: .6rem;
    }

    .doubleArrow {
        font-size: 1.6rem;
    }

}