.containerPostalCode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.subContainerPostalCode {
    padding: 30px;
}

.postalCodeTable {
    max-height: 50vh;
    width: 80vw;
    overflow-y: scroll;

}

    .postalCodeTable thead {
        border-bottom: 1px solid #eee;
    }

        .postalCodeTable thead tr th {
            font-weight: 400;
            padding: 20px;
        }

    .postalCodeTable tbody tr td {
        font-weight: 400;
        font-size: .9rem;
        padding: 20px;
    }


.addPostalCode:hover {
    background-color: #e9ecef; /* Efecto hover */
    border-color: #0d6efd;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 992px) {
    /* Parte de la tabla */

    .containerPostalCode {
        padding: 10px;
    }

    .postalCodeTable {
        max-height: 100%;
    }

        .postalCodeTable,
        .postalCodeTable thead,
        .postalCodeTable tbody,
        .postalCodeTable th,
        .postalCodeTable td,
        .postalCodeTable tr {
            display: block;
            width: 100%;
        }

            .postalCodeTable thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

    .filaPostalCode {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

    .postalCodeTable td {
        border: none;
        position: relative;
        padding-left: 50%; /* Espacio para el título simulado */
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: right; /* Alineamos el contenido a la derecha */
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between; /* Separa titulo del contenido */
        align-items: center;
    }

        .postalCodeTable td:last-child {
            border-bottom: 0;
        }

        .postalCodeTable td::before {
            content: attr(data-label); /* Toma el texto del atributo HTML */
            position: relative; /* O absolute si prefieres fijarlo */
            font-weight: 700;
            text-align: left;
            color: #333;
            flex-basis: 40%; /* Ocupa el 40% del ancho */
        }

    .postalCodeTable thead {
        border-bottom: none;
    }

    .postalCodeTable td.addPostalCode {
        justify-content: center !important;
        padding-left: 0 !important;
        width: 100%;
    }


        .postalCodeTable td.addPostalCode::before {
            content: none !important;
            flex-basis: 0;
        }

}