* {
    font-family: "Montserrat", sans-serif;
}

.iconsDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 50px;
}

.iconsDivUserPoducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

    .iconsDivUserPoducts:hover{
        background-color: rgb(232, 232, 232);
    }

    .iconsDivUserPoducts.selected {
        background-color: rgb(128, 98, 51); /* Azul primario */
        color: white;
        box-shadow: 0 4px 12px rgba(25, 118, 210, 0.3);
    }

.iconsDivUserPoducts.selected b {
    color: white;
}

.productsUserTable {
    max-height: 50vh;
    width: 80vw;
    overflow-y: scroll;
}

    .productsUserTable thead {
        border-bottom: 1px solid #eee;
    }

.productsUserTable thead tr th {
    font-weight: 400;
    padding: 20px;
}

.productsUserTable tbody tr td {
    font-weight: 400;
    font-size: .9rem;
    padding: 20px;
}

.productsUsersAdminContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

/* Parte Productos */

.filtrosContainer{
    display: flex;
    gap: 10px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

    .filter:hover{
        color: rgb(208, 208, 208);
    }

.filterGroup{
    display: flex;
    justify-content: space-around;
}

.filterGroup2 {
    display: flex;
    justify-content: start;
    margin-left: 70px;
}

.filterItem {
    display: flex;
    margin-bottom: 10px;
}

    .filterItem label {
        display: flex;
        width: 100%;
        gap: 10px;
    }

.filterIcon{
    font-size: 2rem;
}

.filter h5 {
    margin: 0;
}

.addPrdBtn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: rgb(128, 98, 51);
    border-radius: 5px;
}

    .addPrdBtn:hover{
        color: #fff;
    }

.delIcon:hover {
    color: rgb(255, 0, 0);
}

/* Admin Orders */

.containerTableOrders{
    display: flex;
    justify-content: center;
    max-height: 50vh;
    overflow-y: scroll;
}

.filaOrdenDetail:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.containerLupita {
    width: 100%;
    height: 100%;
}

.lupita {
    width: 20%;
    height: 100%;
}


@media (max-width: 992px) {

    .iconsDiv {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 20px;
    }

    .iconsDivUserPoducts {
        width: 100%;
    }

    /* Filtros */

    .filtrosContainer {
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .filter {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

        .filter h5{
            margin: 0;
        }

        .filterIcon {
            font-size: 1.5rem;
        }

    .filterGroup {
        flex-direction: column;
    }

    /* Parte de la tabla */

    .containerTableOrders {
        min-height: 65vh;
        max-height: auto;
    }

    .productsUserTable{
        max-height: 100%;
    }

    .productsUserTable,
    .productsUserTable thead,
    .productsUserTable tbody,
    .productsUserTable th,
    .productsUserTable td,
    .productsUserTable tr {
        display: block;
        width: 100%;
    }

        .productsUserTable thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .filaOrdenDetail {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

    .productsUserTable td {
        border: none;
        position: relative;
        padding-left: 50%; /* Espacio para el título simulado */
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: right; /* Alineamos el contenido a la derecha */
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between; /* Separa titulo del contenido */
        align-items: center;
    }

        .productsUserTable td:last-child {
            border-bottom: 0;
        }

        .productsUserTable td::before {
            content: attr(data-label); /* Toma el texto del atributo HTML */
            position: relative; /* O absolute si prefieres fijarlo */
            font-weight: 700;
            text-align: left;
            color: #333;
            flex-basis: 40%; /* Ocupa el 40% del ancho */
        }

    .productsUserTable thead {
        border-bottom: none;
    }

    .containerLupita {
        margin-top: 20px;
    }

    .lupita {
        width: 80%;
        height: 100%;
    }

}