.cardBigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 70px;
    text-align: center;
    gap: 10px;
}

    .cardBigContainer h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        color: rgb(128, 98, 51); /* Tu color de marca */
    }

.cardsContainer {
    height: 70vh;
}

@media (max-width: 992px) {
    .cardBigContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding: 30px;
        text-align: center;
        gap: 10px;
    }

    .cardsContainer {
        height: auto;
        flex-direction: column;
    }
}