.title {
    font-style: normal;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
}

/* Contenedor principal de la página */
.productsPage {
    display: flex; /* Flexbox para organizar el aside y el grid */
    padding: 20px; /* Espaciado interno */
    width: 90vw; /* Ancho máximo */
}

/* Aside (barra lateral para filtros) */
.filters {
    flex: 1; /* Toma espacio proporcional */
    min-width: 350px;
    max-width: 600px; /* Limita el ancho del aside */
    padding: 20px; /* Espaciado interno */
}

.filtersTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.filterList {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Sin padding ni margin */
}

.filterItem {
    display: flex;
    margin-bottom: 10px;
}

.filterItem label{
    display: flex;
    width: 100%;
    gap: 10px;
}

/* Grilla de productos */

.carta {
    min-height: 500px !important;
    width: 100%;
}

.cartaImgContainer {
    justify-content: center;
    overflow: hidden;
}

    .cartaImgContainer img {
        width: 100%;
        aspect-ratio: 2/3; /* Mantiene proporción rectangular (o usa 1/1 para cuadrado) */
        object-fit: cover;
        object-position: top;
        transition: transform 0.3s ease;
    }

        .cartaImgContainer img:hover {
            transform: scale(1.1);
        }

.cuerpoCarta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTitle {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

    .productTitle:hover{
        color: rgb(128, 98, 51);
    }

.cartaAddCart {
    min-height: 40px;
    background-color: rgb(128, 98, 51);
    border: none;
    color: #fff;
}

    .cartaAddCart:hover {
        background-color: #fff;
        color: rgb(128, 98, 51);
    }

.containerLupita {
    width: 100vw;
    height: 50vh;
    opacity: 0;
    animation: fadeInUp 1.6s ease-out forwards;
}

.lupita{
    width: 70%;
    height: 70%;
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Clase que aplicaremos a las cards */
.cardAnimate {
    opacity: 0;
    animation: fadeInUp 1.6s ease-out forwards; 
}

/* Para pantallas pequeñas */
@media (max-width: 992px) {
    .productsPage {
        flex-direction: column; /* El aside y el grid se colocan en una columna */
        padding: 10px;
    }

    .filters {
        width: 100%;
        max-width: 100%;
        min-width: auto;
        margin-bottom: 20px;
        padding: 0;
    }

    .carta {
        height: auto !important;
    }

    .title {
        font-size: 2rem;
    }
}