.cardBig{
    width: 100%;
    height: 100%;
    border: none !important;
    position: relative;
    overflow: hidden;
}

    .cardBig img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease;
        position: absolute;
    }

        .cardBig img:hover {
            transform: scale(1.1);
        }

.cardBigSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: antiquewhite;
    opacity: 70%;
    max-height: 40%;
    width: 100%;
    position: absolute;
    padding: 10px;
    bottom: 0;
}


@media (max-width: 992px) {

    .cardBig {
        aspect-ratio: 4 / 5;
    }

    .cardBigSubContainer {
        height: auto;
        bottom: 0;
        padding: 1rem;
    }
}