.carrouselContainer {
    height: 80vh;
    overflow: hidden;
    margin-top: 10px;
    z-index: 1;
    object-position: top;
}

.carrouselContainerSub {
    width: 100% !important;
    height: 100%;
}

.carrouselContainerSub :global(.carousel-inner) {
    height: 100%;
    position: relative;
}

.carrouselContainerSub :global(.carousel-item) {
    height: 100%;
}

.titleCarrousel {
    position: absolute;
    z-index: 10;
    color: #fff;
    top: 20%;
    left: 50%; /* Lo mueve al 50% a la derecha */
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.subTitleCarrousel h2{
    display: none;
}

.video {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

    .shopBtn {
        border: 1px solid #fff;
        padding: 10px;
        width: 100px;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        text-align: center;
    }

    .shopBtn:hover {
        color: #fff;
        background-color: rgb(128, 98, 51);
    }
    /* --- ESTILO DE LA IMAGEN --- */
    .carrouselImage {
        width: 100%;
        height: 100%;
        display: block;
        /* 
       cover: Rellena todo el cuadro recortando los bordes si hace falta (No deforma).
       contain: Muestra la foto entera pero deja espacios vac�os a los lados.
       fill: Estira la foto (La deforma, queda feo).
    */
        object-fit: cover;
        object-position: top center; 
        object-position: center center; /* Centra la imagen */
    }

.productImage {
    animation: float 5s ease-in-out infinite;
    width: 100%;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50%       { transform: translateY(-15px); }
}

@media (max-width: 992px) {

    .carrouselContainer{
        height: auto;
    }

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .carrouselContainerSub{
        display: flex;
        flex-direction: column;
    }

    .titleCarrousel {
        display: none;
    }

    .subTitleCarrousel h1{
        display: none;
    }

    .subTitleCarrousel b{
        display: none;
    }

    .subTitleCarrousel h2 {
        display: block;
    }

    .shopBtn {
        display: none;
    }

    @keyframes float {
        from { transform: scale(1); }
        to   { transform: scale(1.1); }
    }

}